<div>
	<div>
	<h1 class="display-3 py-5" align="center">Zonas de mayor riesgo</h1>
	</div>
	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
  			<div  class="row" >
  				<div class="col-12 col-sm-12 col-md-4 py-3 " *ngFor="let place of places">
					<div class="card" >
						<img class="card-img-top" src="{{ place.imagen }}" alt="Card image cap">
						<div class="card-body" align="center">
							<h5 class="card-title">{{ place.nombre }}</h5>
							<p class="card-text">Coordenadas: ( {{ place.coordenadas}} )</p>
							<p class="card-text">Cantidad de Incendios:  {{ place.cantidad_incendios }}</p>
							<button href="#" class="btn btn-dark"  data-toggle="modal" data-target="#exampleModalCenter1">Ampliar Imagen</button>
						</div>
					</div>
					<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					  		<div class="modal-dialog modal-dialog-centered" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLongTitle">{{ place.nombre }}</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							      	<div>
							        	<img style="width: 100%;" src="{{ place.imagen }}">
							        </div>
							        <div>
							        	<h3>
							        		Información del lugar:
							        	</h3>
							        	<div>
							        		Nombre del lugar: {{ place.nombre }};
							        	</div>
							        	<br>
							        	<div>
							        		Indice NDVI: {{ place.ndvi }};
							        	</div>
							        	<br>
							        	<div>
							        		Coordenadas: {{ place.coordenadas }};
							        	</div>
							        	<br>
							        	<div>
							        		
							        	</div>
							        </div>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
							      </div>
							    </div>
					  		</div> 
						</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
