<app-navbar></app-navbar>

<app-layout>
<!--------------------------->
  	<div class="jumbotron jumbotron-fluid">
  		<div class="col" >
		  	<div class="container"> 
		  		<h1 class="display-3 py-5">Imagenes de la Locación</h1>
		    </div>
	  		
	  		<div class="container">
	  			<div class="row">
					<div class="card mx-3 my-2" style="width: 18rem ;">
						<img class="card-img-top"  style="max-height: 15rem;" src="http://www.manaleak.com/mtguk/files/2016/03/Jace-Unraveler-of-Secrets-wallpaper.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">{{ title }}</h5>
								<p class="card-text">( {{ cx }}, {{ cy }} )</p>
								<button href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Ampliar Imagen</button>
							</div>
					</div>


					<!-------->

					<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
					  Launch demo modal
					</button>-->

					<!-- Modal -->

					<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <img class="col" style="width: 100%;" src="http://www.manaleak.com/mtguk/files/2016/03/Jace-Unraveler-of-Secrets-wallpaper.jpg">
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
  		</div>
  	</div>

</app-layout>
