<div>
	<div>
	<h1 class="display-3 py-5" align="center">Últimos datos obtenidos</h1>
	</div>
	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Id Lugar</th>
			      <th scope="col">Nombre Lugar</th>
			      <th scope="col">Coordenadas</th>
			      <th scope="col">Cantidad de incendios</th>
			      <th scope="col">Imagen Referencial</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let place of places">
		            <td>{{ place.locacion_id}}</td>
		            <td>{{ place.nombre}}</td>
		            <td>{{ place.coordenadas }}</td>
		            <td>{{ place.cantidad_incendios }}</td>
		            <td><a style="text-decoration: none;" data-toggle="collapse" href="#collapseExample{{ place.locacion_id }}"><button type="button" class="btn btn-secondary" role="button" aria-expanded="false" aria-controls="collapseExample">Ver Imagen</button></a></td>
		            <div class="collapse" id="collapseExample{{ place.locacion_id }}">
						<div class="card card-body">
							<img style="width: 100%;" src="{{ place.imagen }}">
						</div>
					</div>
		      	</tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>
