

	<div class="jumbotron">
		<div class="py-4" align="center">
			<h2 class="font-text-bold display-1">Bienvenido</h2>
			<h5 class="font-weight-light display-4">D20 - A&DSW</h5>
		</div>
			<div class="py-3" align="center">
				<button type="button" class="btn btn-secondary mx-4 " routerLink="/feed">Zonas de Mayor Riesgo</button>
				<button type="button" class="btn btn-secondary mx-4" routerLink="/ultimos_datos">Ultimos Datos obtenidos</button>
			</div>
	</div>
